* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(45deg, #190361, #bb00ff);
  animation: gradient 10s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.part1 {
  width: 428px;
  height: 424px;

  background: #ffffff;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
  border-radius: 5px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.hide {
  display: none;
}

/*screen 1 */
.screenOne {
  text-align: center;
}

h1 {
  margin-top: 48px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #34355b;
}

p {
  margin-top: 14px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height */

  color: #34355b;
}
.btn1 {
  margin-top: 20px;
  background: none;
  border: none;
  cursor: pointer;
}
.btn1:hover {
  -webkit-animation: shake 4s ease-in 0s 1 normal;
  -moz-animation: shake 4s ease-in 0s 1 normal;
  -ms-animation: shake 4s ease-in 0s 1 normal;
  animation: shake 4s ease-in 0s 1 normal;
}

@-webkit-keyframes shake {
  0% {
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
  }
  2% {
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
  }
  4% {
    transform: rotate(-18deg);
    -webkit-transform: rotate(-18deg);
  }
  6% {
    transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
  }
  8% {
    transform: rotate(-22deg);
    -webkit-transform: rotate(-22deg);
  }
  10% {
    transform: rotate(22deg);
    -webkit-transform: rotate(22deg);
  }
  12% {
    transform: rotate(-18deg);
    -webkit-transform: rotate(-18deg);
  }
  14% {
    transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
  }
  16% {
    transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
  }
  18% {
    transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
  }
  20% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}

@keyframes shake {
  0% {
    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
  }
  2% {
    transform: rotate(15deg);
    -ms-transform: rotate(15deg);
  }
  4% {
    transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
  }
  6% {
    transform: rotate(18deg);
    -ms-transform: rotate(18deg);
  }
  8% {
    transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
  }
  10% {
    transform: rotate(22deg);
    -ms-transform: rotate(22deg);
  }
  12% {
    transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
  }
  14% {
    transform: rotate(18deg);
    -ms-transform: rotate(-18deg);
  }
  16% {
    transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
  }
  18% {
    transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
  }
  20% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
}

/*screen 2*/
main {
  width: 428px;
  height: 564px;

  background: #ffffff;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
  border-radius: 5px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
main .screenTwo {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.btn2 {
  margin-top: 17px;
  background: none;
  border: none;
}

.message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 293px;
  height: 107px;

  background: #e4edf1;
  box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);

  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #000000;
}
.message {
  animation: appear 0.5s ease-in-out, spin 0.5s linear 1;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes appear {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.btn3 {
  padding: 16px;
  gap: 10px;
  border: none;
  height: 52px;

  background: #ff9500;
  border-radius: 4px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
  cursor: pointer;
}
